*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#left{
  font-size: large;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #66FCF1;
}
#main,#page1,#page2,#page3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #66FCF1;
  padding: 50px;
  height: 100vh;
  margin: 10px;
}
#page1{
  margin: auto;
}

#pp{
  border-radius: 50px;
}
#mainleft{
  width: 40%;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
#page3 li a{
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
#page3 li a:hover{
  color: aliceblue;
}

#page3 table,th,td{
    padding: 10px;
    border: 1px solid #66FCF1;
    border-collapse: collapse;
}
nav ul li a:hover{
  color: aliceblue;
}
li{
  list-style: none;
  margin: 0 23px;
}